/*
Theme Name: GymX Child
Theme URI: http://ttdemo2.wpengine.com/gymx
Description: Child Theme for the GymX Theme
Version: 2.2.0
Author: Themetwins
Author URI: http://themeforest.net/user/themetwins/portfolio
Template: gymx
*/

/* ==========================================================================
   Your custom styles
   ========================================================================== */



#featured-product ul.products li {
    width: auto;
}